.page-footer {
  display: flex;
  background-color: $secondary-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}
.page-footer__container {
  display: flex;
  align-items: baseline;
}
.page-footer__logo-part {
  color: $primary-bg-color;
}
.page-footer__address {
  margin-top: 20px;
}
.page-footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer__physical-address {
  color: $primary-bg-color;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.page-footer__contacts {
  color: #ffffff60;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
